/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #15559a;
  --ifm-color-primary-dark: #134d8b;
  --ifm-color-primary-darker: #124883;
  --ifm-color-primary-darkest: #0f3c6c;
  --ifm-color-primary-light: #175ea9;
  --ifm-color-primary-lighter: #1862b1;
  --ifm-color-primary-lightest: #1b6fc8;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2e317c;
  --ifm-color-primary-dark: #292c70;
  --ifm-color-primary-darker: #272a69;
  --ifm-color-primary-darkest: #202257;
  --ifm-color-primary-light: #333688;
  --ifm-color-primary-lighter: #35388f;
  --ifm-color-primary-lightest: #3c40a1;
}
